body {
    background-color: rgb(80, 80, 80);
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
}

th,
td {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 0.5rem 1rem;
}

.table {
    margin: 2rem 0;
    justify-content: center;
}
